# **Welcome to the Python Class!** üêç

---
Class of WiSe24/25

---


# **Test Jupyter Notebook**

---

In [1]:
print("Hello World")

Hello World

In [2]:
a = 3
b = 4
print(a+b)

7

---


# **Preparation**

---

## **1. Import Packages:**

In [4]:
import pandas as pd
import numpy as np

## **2. Read Data into a Pandas DataFrame:**

Use the pd.read_ method to read your data into a Pandas DataFrame. The method you choose depends on the format of your data. For example:

**To read a CSV file**
```python
# Load a CSV
df = pd.read_csv('data/file_name.csv', sep=",")
```

**To read an Excel file**
```python
# Load a CSV
df = pd.read_excel('data/file_name.xlsx')
```

In [6]:
# Load a CSV
df = pd.read_csv('data/la_crime_2020_present_full.csv', sep=",")

**Check the data after reading**

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 974477 entries, 0 to 974476
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           974477 non-null  int64
 1   Date Rptd       974477 non-null  object
 2   DATE OCC        974477 non-null  object
 3   TIME OCC        974477 non-null  int64
 4   AREA            974477 non-null  int64
 5   AREA NAME       974477 non-null  object
 6   Rpt Dist No     974477 non-null  int64
 7   Part 1-2        974477 non-null  int64
 8   Crm Cd          974477 non-null  int64
 9   Crm Cd Desc     974477 non-null  object
 10  Mocodes         831701 non-null  object
 11  Vict Age        974477 non-null  int64
 12  Vict Sex        838474 non-null  object
 13  Vict Descent    838464 non-null  object
 14  Premis Cd       974463 non-null  float64
 15  Premis Desc     973893 non-null  object
 16  Weapon Used Cd  325782 non-null  float64
 17  Weapon Desc     325782 non-null  object
 18  Status          974476 non-null  object
 19  Status Desc     974477 non-null  object
 20  Crm Cd 1        974466 non-null  float64
 21  Crm Cd 2        68760 non-null   float64
 22  Crm Cd 3        2309 non-null    float64
 23  Crm Cd 4        64 non-null      float64
 24  LOCATION        974477 non-null  object
 25  Cross Street    151016 non-null  object
 26  LAT             974477 non-null  float64
 27  LON             974477 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 208.2+ MB